body{
    margin: 0;
}

.wrapper{
    max-width: 1015px;
    margin: auto;
}

.textarea{
    font-family: 'Spicy Rice', cursive;
    font-size: 30px;
    width: 970px;
    height: 30vh;
    margin-top: 10vh;
    padding: 10px 20px;
    border: solid 2px red;
    border-radius: 10px;
    resize: none;
}

.textarea:focus{
    outline: none;
}

.virtual_keyboard{
    margin: auto;
    margin-top: 50px;
    padding: 10px 10px;
    width: 945px;
    height: 310px;
    border: 5px solid #a0a0a0;
    background-color: #FFFDD0;
    border-radius: 20px;
}

.button{
    font-family: 'Spicy Rice', cursive;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(240, 201, 99);
    box-shadow: -7px -7px rgb(155, 94, 24) inset;
    width: 50px;
    height: 35px;
    margin-left: 10px;
    text-align: center;
    padding-top: 15px;
    cursor: pointer;
}

.button_active{
    box-shadow: -7px -7px rgb(240, 201, 99) inset;
}

.div_firstline_keyboard,
.div_secondeline_keyboard,
.div_thirdline_keyboard,
.div_fourthline_keyboard,
.div_fifthline_keyboard{
    margin-top: 8px;
}

.backspace{
    width: 142px;
}

.space{
    width: 370px;
}

.tab{
    width: 70px;
}

.delete{
    width: 60px;
}

.capslock{
    width: 104px;
}

.enter{
    width: 150px;
}

.shift{
    width: 130px;
}

.right_shift{
    width: 124px;
}

.ctrl{}
